[submodule "ironsea_index"]
	path = ironsea_index
	url = ../ironsea_index
[submodule "ironsea_index_hashmap"]
	path = ironsea_index_hashmap
	url = ../ironsea_index_hashmap
[submodule "ironsea_index_sfc_dbc"]
	path = ironsea_index_sfc_dbc
	url = ../ironsea_index_sfc_dbc
[submodule "mercator_data_generator"]
	path = mercator_data_generator
	url = ../mercator_data_generator
[submodule "mercator_db"]
	path = mercator_db
	url = ../mercator_db
[submodule "mercator_service"]
	path = mercator_service
	url = ../mercator_service
[submodule "mercator_parser"]
	path = mercator_parser
	url = ../mercator_parser
[submodule "mercator_indexer"]
	path = mercator_indexer
	url = ../mercator_indexer
